@tailwind base;
@tailwind components;
@tailwind utilities;

.fe-quiz-subject-list > * + * {
  margin-top: 0.75em;
}

progress {
  appearance: none;
}

progress[value]::-moz-progress-value {
  border-radius: 100vw;
  background-color: orange;
}

progress[value]::-webkit-progress-value {
  border-radius: 100vw;
  background-color: orange;
}

label:hover input:not(:checked) {
  color: var(--clr-purple);
  background-color: hsl(278, 100%, 95%);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

body {
  background-image: url("/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  body {
    background-image: url("/images/pattern-background-tablet-light.svg");
    background-position: left -250px top -300px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("/images/pattern-background-desktop-light.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
