@tailwind base;
@tailwind components;
@tailwind utilities;

.intro {
  transform: translateX(-200px);
  opacity: 0;
}

.item {
  transition: box-shadow 0.2s ease-in-out;
}

.item:hover {
  box-shadow: 0 10px 0 0 var(--clr-grey-400);
}

:where(html[class="dark"]) .item:hover {
  box-shadow: 0 10px 0 0 var(--clr-grey-500);
}

.fe-quiz-subject-list > * + * {
  margin-top: 0.75em;
}

progress {
  appearance: none;
}

label:hover input:not(:checked) {
  color: var(--clr-purple);
  background-color: hsl(278, 100%, 95%);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

body {
  background-image: url("/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

:where(html[class="dark"]) body {
  background-image: url("/images/pattern-background-mobile-dark.svg");
}

@media (min-width: 768px) {
  body {
    background-image: url("/images/pattern-background-tablet-light.svg");
    background-position: left -250px top -300px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  :where(html[class="dark"]) body {
    background-image: url("/images/pattern-background-tablet-dark.svg");
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("/images/pattern-background-desktop-light.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  :where(html[class="dark"]) body {
    background-image: url("/images/pattern-background-desktop-dark.svg");
  }
}

label {
  font-size: clamp(1.125rem, 0.7rem + 1vw, 1.75rem);
}
